#footer {
    background-color: var();
    padding-block: 4rem;
}

#footer .footer-content {
    display: grid;
    gap: 3rem;
    padding-bottom: 4rem;
}

#footer .logo-column {
    display: grid;
    gap: 1.5rem;
}

#footer .logo-column img {
    width: 200px;
}

#footer .social-links {
    display: flex;
    align-items: center;
}

#footer .social-links img {

    width: auto; 

    height: 24px; 
}

#footer .footer-links {
    display: grid;
    gap: 3rem;
}

#footer .links-column {
    display: grid;
    gap: 1.5rem;
    align-content: start;
}

#footer .links-column h3 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--text-color);
}

#footer .links-column ul {
    display: grid;
    gap: 1rem;
}

#footer .links-column ul a {
    font-weight: var(--fw-md);
    font-size: var(--fs-sm);
}

#footer .footer-bar {
    background-color: #FAFAFA;
    padding: var(--py-base);
    border-top: 1px solid #E4E4E4;
}

#footer .footer-bar p {
    text-align: center;
    color: var(--second-text-color);
    font-weight: var(--fw-bold);
    font-size: var(--fs-sm);
}

@media (width >= 1024px) {
    #footer .footer-content {

        grid-template-columns: auto 1fr;
        gap: 5rem; 
    }

    #footer .footer-links {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}