*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg, #a92e2e, #af928c);
   padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1{
    color: #5d1c1c;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#5d1c1c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 40px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border: 2px solid #ae7e7e;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: transparent;
    display: flex;              
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
}

ul li.checked {
    text-decoration: none
}

ul li.checked::before {
    background-color:#be5151;
    content: '✔';          
    border: 2px solid #be5151;
}

ul li span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50% ;
}

ul li span:hover {
    background: #be5151;
    color: #fff;
}
